.gifContainer {
    margin-top: 30px;
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 30px;
}

.imageSection {
    width: 100%;
    padding: 20px 20px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 7%, rgba(30,22,57,1) 88%, rgba(50,35,97,1) 96%, rgba(66,48,128,1) 100%);
    border-radius: 10px;
}